# dependecies installed by npm
node_modules

# build artefacts
_site
dist

# secrets
.env

# logs
*.log
report.html

# cache
.cache
.eslintcache
.stylelintcache

# Local Netlify folder
.netlify

# Mac files
.DS_Store
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
