@import url('dropkicker.css') layer(base);
@import url('tailwindcss');

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@view-transition {
  navigation: auto;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px) rotateY(180deg);
  }

  100% {
    transform: translateY(0) rotateY(360deg);
  }
}

.home:hover .flip {
  animation: jump 0.3s 1;
}

@keyframes rise {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.letter-wrap {
  overflow: hidden;
  position: relative;
}

.letter {
  animation: rise 0.5s forwards;
  display: inline-flex;
  opacity: 0;
  transform: translateX(-100%);
}

.nav-letter {
  transition: font-weight 0.2s ease-in-out;
}

@media (pointer: fine) {
  .nav-letter {
    font-weight: 400;
  }

  .nav-letter:hover {
    font-weight: 1000;
  }

  .nav-letter:hover ~ .nav-letter {
    font-weight: 800;
  }

  .nav-letter:hover ~ .nav-letter ~ .nav-letter {
    font-weight: 600;
  }

  .nav-letter:has(+ .nav-letter:hover) {
    font-weight: 800;
  }

  .nav-letter:has(+ .nav-letter + .nav-letter:hover) {
  font-weight: 600;
  }
}

.prose {
  text-wrap: pretty;

  pre {
    overscroll-behavior-x: contain;
  }
}

/* Stagger reveal for film posters */
@keyframes rise-in {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-rise-in {
  animation: 0.5s ease-out 1 rise-in;
  animation-delay: calc(sin((var(--index) / 12) * 45deg) * 0.475s);
}

/**
 * Nord Theme Originally by Arctic Ice Studio
 * https://nordtheme.com
 *
 * Ported for PrismJS by Zane Hitchcoxc (@zwhitchcox) and Gabriel Ramos (@gabrieluizramos)
 */

code[class*="language-"],
pre[class*="language-"] {
  background: none;
  color: #f8f8f2;
  font-family: "Fira Code", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  hyphens: none;
  line-height: 1.5;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

/* Code blocks */
pre[class*="language-"] {
  border-radius: 0.3em;
  margin: .5em 0;
  overflow: auto;
  padding: 1em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2E3440;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: .3em;
  padding: .1em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #636f88;
}

.token.punctuation {
  color: #81A1C1;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #81A1C1;
}

.token.number {
  color: #B48EAD;
}

.token.boolean {
  color: #81A1C1;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #A3BE8C;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #81A1C1;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #88C0D0;
}

.token.keyword {
  color: #81A1C1;
}

.token.regex,
.token.important {
  color: #EBCB8B;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.deleted {
  background-color: hsl(350deg 100% 88% / 47%);
}

.token.inserted {
  background-color: hsl(120deg 73% 75% / 35%);
}

/* Make the + and - characters unselectable for copy/paste */
.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
	user-select: none;
}

/* Optional: full-width background color */
.token.inserted:not(.prefix),
.token.deleted:not(.prefix) {
	display: block;
}

[x-cloak] {
  display: none !important;
}

::selection {
  background-color: oklch(85.88% 0.2024 88.0084deg);
  color: #2E3440;
}

.back-to-top {
  animation: come-on-up linear;
  animation-range-start: entry;
  animation-timeline: view();
}

@keyframes come-on-up {
  from {
    transform: translateY(200px);
  }

  to {
    transform: translateY(0);
  }
}

.code-demo {
  background-color:#121212;
  border-radius: 0.375rem;
  color:#dbd7caee;
}

.tabs {
  border-bottom: 1px solid oklch(40% 0 0deg);

  input + label {
    cursor: pointer;
    position: relative;
  }

  input:checked + label {
    cursor: default;
  }

  input + label::after {
    background-color: oklch(85.88% 0.2024 88.0084deg);
    bottom: 0;
    box-shadow: 0 0 5px oklch(85.88% 0.2024 88.0084deg);;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s ease-in-out;
    width: 100%;
  }

  input:checked + label::after {
    opacity: 1;
  }
}

/* Initially hide all tab panes */
.tab-pane {
  aspect-ratio: 16 / 9;
  display: none;
  overflow: auto;

  pre {
    border-radius: 0.375rem;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 1.7143;
    margin-bottom: 1.7143em;
    overflow-x: auto;
    padding-bottom: 0.8571em;
    padding-inline: 1.1429em;
    padding-top: 0.8571em;
  }
}

/* Show the tab pane when the corresponding radio button is selected */
.tabs:has(.html:checked) ~ .tab-content .html,
.tabs:has(.css:checked) ~ .tab-content .css,
.tabs:has(.js:checked) ~ .tab-content .js,
.tabs:has(.preview:checked) ~ .tab-content .preview {
  display: block;
}
