@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px) rotateY(180deg);
  }

  100% {
    transform: translateY(0) rotateY(360deg);
  }
}

.home:hover .flip {
  animation: jump 0.3s 1;
}

@keyframes rise {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.letter-wrap {
  overflow: hidden;
  position: relative;
}

.letter {
  animation: rise 0.5s forwards;
  display: inline-flex;
  opacity: 0;
  transform: translateX(-100%);
}

.nav-letter {
  font-weight: 200;
  transition: font-weight 0.2s ease-in-out;
}

@media (width >= 768px) {
  .nav-letter {
    font-weight: 400;
  }

  .nav-letter:hover {
    font-weight: 1000;
  }

  .nav-letter:hover ~ .nav-letter {
    font-weight: 800;
  }

  .nav-letter:hover ~ .nav-letter ~ .nav-letter {
    font-weight: 600;
  }

  .nav-letter:has(+ .nav-letter:hover) {
    font-weight: 800;
  }

  .nav-letter:has(+ .nav-letter + .nav-letter:hover) {
  font-weight: 600;
  }
}

.prose {
  text-wrap: pretty;
}
